@import './fonts.css';

* {
  font-family: LatoBold, sans-serif;
  margin: 0px;
}

body {
  max-width: 1020px;
  min-width: 1020px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  background-color: #f2f4f6;
  background-position: top center;
  margin: auto;
}

.head {
  color: #ffffff;
  background-color: #2d2f39;
  height: 89px;
  margin: 0px;
  padding: 0px;
  border-bottom: 6px solid #323746;
  text-transform: uppercase;
}

.head_text {
  font-size: 25px;
  margin: 0px;
  padding-top: 32px;
  padding-left: 40px;
  width: 115px;
  display: inline-block;
  line-height: 1;
  letter-spacing: -.55px;
  cursor: pointer;
}

.red_start {
  color: #ef6c64;
}

.navigation {
  font-size: 12px;
  margin-right: 41px;  
  list-style-type: none;
  margin-top: 42px;
  padding: 0;
  overflow: hidden;
  display: inline-end;
  float: right;
  margin-bottom: 0px;
}

.navigation li {
  float: left;
  padding: 0px;
}

.navigation li a {
  padding: 0px;
  margin: 0px;
  color: white;
  text-align: center;
  padding-left: 15px;
  text-decoration: none;
  letter-spacing: -0.2px;
}

/* Change the link color to #111 (black) on hover */
.navigation li a:hover {
  color: #ef6c64;
}

.home_nav:before {
  content: none;
}


.navigation  li a:before {
  content: "·";
  padding-right: 12px;
  color: #666d89;
}

.header-bottom {
  margin: 0px;
  padding: 0px;
}

.main {
  background-color: #f06c64;
  height: 594px;
  position: relative;
  border-bottom: 6px solid #ea666b;
}

.phone-vert {
  position: absolute;
  left: 111px;
  top: 53px;
}

.screan-vert {
  position: absolute;
  left: 126px;
  top: 118px;
}

.phone-hor {
  position: absolute;
  left: 425px;
  top: 174px;
}

.screan-hor {
  position: absolute;
  left: 485px;
  top: 188px;
}

.chev_2 {
  position: absolute;
  left: 42px;
  top: 281px;
}

.chev {
  position: absolute;
  left: 964px;
  top: 281px;
}

.chev_2:hover, .chev:hover {
  cursor: pointer;
}

.services {
  background-color: #f2f2f2;
  color: #7c8299;
}

.services_header {
  font-size: 30px;
  margin-top: 59px;
  margin-bottom: 19px;
  margin-left: 40px;
  font-family: LatoBlack, sans-serif;
  letter-spacing: -0.2px;
  font-weight: bolder;
  color: #666d89; 
}

.service_text, .service_text span {
  font-size: 18px;
  line-height: 30px;
  font-family: LatoRegular, sans-serif;
  margin-left: 40px;
  text-align: left;
  text-indent: 0px;
  width:950px;
  font-weight: 400;
  margin-bottom: 42px;
  word-spacing: 1px;
  letter-spacing: -0.011em;
  justify-content: start;
}

.service_text span {
  margin-left: 0px;
  word-spacing: 0px;
  letter-spacing: -0.012em;
}

.services_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.services_list li {
  width: 319px;
  margin-top: 0px;
  margin-bottom: 28px;
}

.text {
  font-size: 18px;
  margin-left: 55px;
}

.services_list h4 {
  margin-top: 0px;
  font-size: 18px;
  margin-left: 25px;
  margin-bottom: 0px;
}

.service_text_element {
  margin-left: 25px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 0px;
  line-height: 22px;
  font-size: 12px;
  font-family: LatoRegular, Helvetica sans-serif;
  letter-spacing: 0.2px;
  word-spacing: -0.05em;
  text-align: justify;
  
}

.pic {
  width: 56px;
  height: 56px;
  border-radius: 50%;

  float: left;
  margin-right: 10px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 2px solid #7c8299;
  text-align: center;
  vertical-align: middle;
}

.pic:before
{
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

img {
  display: inline-block;
  vertical-align: middle;
}

/* part 2*/

.portfolio {
  color: #666d89;
  background-color: #2d2f39;
  height: 862px;
  padding: 0px;
  border-bottom: 6px solid #313745;
  padding-left: 40px;
  line-height: 0.7;
  letter-spacing: 0.005em;
  word-spacing: -0.1em;
  position: relative;
}

.portfolio__head {
  margin-top: 36px;
  font-size: 30px;
  padding-top: 68px;
}

.portfolio__text {
  font-size: 18px;
  font-family: LatoRegular, sans-serif;
  padding-top: 34px;
  font-weight: 400;
}

.portfolio ul {
  list-style: none;
}

.portfolio ul img {
  position: relative;
  z-index: 1;
}

.portfolio__nav {
  padding: 19px 0px 0px 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.portfolio__nav li a {
  color: #666d89;
  font-size: 12px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  text-decoration: unset;
}

.portfolio__nav li a:hover {
  text-decoration: underline;
  color: #c5c5c5;
  border-color: #c5c5c5;
}

.portfolio__nav .all  {
  color: #c5c5c5;
  border-color: #c5c5c5;
}

.portfolio__nav .all:hover {
  color: #666d89;
}

.portfolio__nav li {
  border: 1px solid #666d89;
  padding: 4px 7px 4px 7px;
  margin-right: 9px;
  border-radius: 4px;
}

.portfolio_images ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
}

.portfolio_images li {
  padding: 20px 20px 0px 0px;
}

.about {
  position: relative;
  color: #666d89;
  line-height: 0.7;
  letter-spacing: 0.01em;
  word-spacing: -0.3em;  
  height: 730px;
  padding: 0px;
  padding-left: 40px;
  background-color: #f1f1f1;
  border-bottom: 5px solid #ffffff;
  z-index: 5;
}

.about__head {
  font-size: 30px;
  font-family: LatoLatin, sans-serif;
  padding-top: 68px;
  font-weight: 700;
}

.about__text {
  font-size: 18px;
  padding-top: 33px;
  font-family: LatoRegular, sans-serif;
  padding-top: 26px;
  font-weight: 400;
  line-height: 1.6em;
  word-spacing: -0.1em;
}

.about__persons_background {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  z-index: 15;
}

.about__persons {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  z-index: 20;
}

.about__persons div, .about__persons_background div {
  padding: 45px 17px 0px 0px;
}

.about__persons h3 {
  padding-top: 19px;
  font-size: 18px;
  font-family: LatoRegular, sans-serif;
  font-weight: 600;
  word-spacing: -0.05em;
}

.about__persons p {
  width: 302px;
  font-size: 12px;
  padding-top: 33px;
  font-family: LatoRegular, sans-serif;
  padding-top: 13px;
  font-weight: 400;
  line-height: 1.8em;
  word-spacing: -0.1em;
  letter-spacing: 0.05pt;
}

div .about__social {
 padding-top: 24px;
}

.about__persons .about__social div {
  padding: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
  border: 1px solid #7c8299;
  text-align: center;
  vertical-align: middle;
  margin-right: 8px;
}

.about__persons .about__social div:before
{
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.about__persons .about__social img {
display: inline-block;
vertical-align: middle;
}


.about__persons .about__social div:hover {
  cursor: pointer;
  background-color: #5c5259;
}


/*part 3*/
.qoute {
  background-color: #ef6b63;
  height: 648px;
  padding: 0px;
  padding-left: 40px;
  line-height: 0.7;
  letter-spacing: 0.005em;
  position: relative;
  border-bottom: 6px solid #e9676b;  
}

.qoute h3 {
  color: #f0d8d9;
  font-size: 30px;
  padding-top: 68px;
}

.qoute__text {
  color: #f0d8d9;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  padding-top: 25px;
  font-weight: 100;
  line-height: 1.7em;
  word-spacing: -0.15em;
  text-align: justify;
  width: 940px;
}
.qoute__post {
  float: left;
}

.qoute__post ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-top: 43px;
}
.qoute__post ul li {
  padding-bottom: 15px;
}


input::placeholder, textarea::placeholder {
  font-size: 12px;
  color: #f48c8f;
}

.qoute__post ul li:nth-child(1) input:valid,
.qoute__post ul li:nth-child(2) input:valid {
  border: 2px double #d0500f;
}

/*
.qoute__post ul li input:invalid {
  border: 1px solid red;
}
*/

.qoute__post input,
.qoute__post ul li input, 
.qoute__post ul li textarea {
  width: 618px;
  height: 38px;
  background-color: #d6564f;
  border: 1px solid  #d6564f;
  border-radius: 4px;
  font-size: 12px;
  color: #f0d8d9;
  padding-left: 14px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
}

.qoute__post ul li .qoute-post__describe {
  margin-top: 3px;
  padding-top: 9px;
  height: 200px;
}

.qoute__contact {
  float: right;
  width: 300px;
  padding-top: 47px;
  padding-right: 40px;
  color: #f0d8d9;
  letter-spacing: -0.005em;
}
.qoute__contact a {
  color: #f0d8d9;
}

.qoute__contact h4 {
  font-size: 18px;
  padding-bottom: 12px;
}

.qoute__contact p {
  font-size: 12px;
  line-height: 1.85em;
  text-align: justify;
}

.qoute__contact ul {
   list-style: none;
   font-size: 12px;
   padding: 26px 0px 0px 0px;
}

.qoute__contact ul li {
   padding-bottom: 10px;
   letter-spacing: 0.05em;
   word-spacing: -0.15em;
}

.qoute__contact ul li:nth-child(1) img {
   padding: 0px 18px 0px 3px;
   vertical-align: middle;
}

.qoute__contact ul li:nth-child(2) img {
  padding: 0px 17px 0px 0px;
  vertical-align: middle;
}

.qoute__contact ul li:nth-child(3) img {
  padding: 3px 15px 0px 0px;
  vertical-align: middle;
}

footer {
  background-color: #2d2f39;
  height: 76px;
}

.copyright__text {
  font-size: 12px;
  padding-left: 42px;
  padding-top: 30px;
  letter-spacing: -0.01em;
  word-spacing: 0.01em;
  float: left;
  color: #494d61;
}

.copyright__social {
  float: right;
  padding-top: 22px;
  padding-right: 32px;
}

.copyright__social div {
  padding: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
  border: 1px solid #656d89;
  text-align: center;
  vertical-align: middle;
  margin-right: 8px;
}

.copyright__social div:before
{
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.copyright__social img {
display: inline-block;
vertical-align: middle;
}


.copyright__social div:hover {
cursor: pointer;
background-color: #5c5259;
}
